*{
    padding: 10px;
    margin: 0px;
    text-align: center;
}

body{
    background-image: url('/imagens/wallpaper001.jpg');
}

.quadrado{
    display: inline-block;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#q1{
    background-color: rgba(252, 37, 234, 0.152);
}

#q2{
    background-color: rgba(0, 0, 255, 0.152);
    background-image: linear-gradient(to right, yellow, red 150%);
}

#q3{
    background-image: url('/imagens/pattern003.png');
}