

body{
    padding: 10px;
    margin: 20px;
    background-color: rgba(182, 213, 239, 0.34);
    
}

h1{
    background-color: rgba(166, 0, 255, 0.381);
    border-radius: 10px;
    height: 50px;
    text-align: center;
    margin: 10px;
    
    


}

