*{
    margin: 0px;
    padding: 0px;
}

body{
    padding-top: 10px;
}

main {
    width: 540px;
    border: 1px solid black;
    background-color: grey;
    margin: auto;
}

div{
    display: block;
    padding: 10px;
    margin: auto;
}

button{
    font-size: 14px;
    font-weight: bolder;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 1px;
    outline: none;
    padding: 5px;
    background-color: green;
    color: white;
    margin: 2px;
}

fieldset{
    margin: auto;
    padding: 20px;
}

legend{
    font-size: 20px;
    font-weight: bolder;
}

iframe{
    width: 500px;
    height: 300px;
}